#first{
    color: rgb(0,0,260)
    backdrop-filter:red;

}
#second{
    color:rgb(red, green, blue)
    border-color: rgb(57, 87, 70);
background-color: teal;
}
#three{
    color: yellow;
    background-color: yellowgreen;
}
body{
    background: rgb(250, 114, 159);
    
}