
div{
    color: #00ff00;
    background: brown;
}
#first{
    color: #00ff00;
background-color: blanchedalmond;
}
#second
{
    color: cornflowerblue;
    background-origin: padding-box;
}
#three{
    color: darkgreen;
    background: darksalmon;
}
    
